<nav class="navbar navbar-default navbar-fixed-top" role="navigation">   
    <div class="container"> 
            <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                   <!-- <a class="navbar-brand" href="/assessment"><img src="/mean-retail-logo.png" height=30 width=41></a> -->
                   <a class="navbar-brand" href="/assessment" style="margin-top: 7px">MEAN Retail</a>
            </div>

            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="" style="font-size: 15px" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">&nbsp;&nbsp;<span class="glyphicon glyphicon-list-alt" aria-hidden="true" style="margin-top: 7px"></span> PRODUCTS &nbsp;<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#/category/Phones">Phones</a></li>
                            <li><a href="#/category/Laptops">Laptops</a></li>
                            <li><a href="#/category/Books">Books</a></li>
                            <li><a href="#/category/Classics">Classics</a></li>
                            <li><a href="#/category/Tablets">Tablets</a></li>
                            <li><a href="#/category/Electronics">Electronics</a></li>
                        </ul>
                    </li>
                </ul>
        
                <ul class="nav navbar-nav navbar-right">
                    <li ng-show="user.user"><a style="background-color: #CC4A14; border-radius: 5px; margin-top: 7px" height= 30 ng-href="#/checkout">
                        <i style="color:white; margin-left: 10px; margin-right: 10px" class="fa fa-shopping-cart"></i></a>
                    </li>
                    <li ng-show="user.user">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img ng-src="{{user.user.profile.picture}}" height="33" width="33" style="margin-top: 12px; margin-left: 0px"></li>
                <!--    <li ng-show="!user.user" style="margin-top: 0px">
                        <button type="button" class="btn btn-primary ">&nbsp;<i class="fa fa-facebook-official" aria-hidden="true"></i>&nbsp;&nbsp;Log In&nbsp;&nbsp;</button> 
                    </li> -->
                    <li ng-show="!user.user"><a href="/auth/facebook?redirect=%2Fassessment%2F%23%2F">
                    <img src="//i.stack.imgur.com/LKMP7.png" height="35" width="70"></a></li>
                </ul>
            </div>
    </div>
</nav>

                        <!-- <li>
                        <div class="image2" ng-show="!user.user">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="/auth/facebook?redirect=%2Fassessment%2F%23%2F">
                        <img src="//i.stack.imgur.com/LKMP7.png"></a> </div> </li> -->