<!--
TODO: this HTML should expose a search bar
!-->
<div class="search-bar-wrapper">
    <input type="text" class="search-bar-input" ng-model="searchText" />
    <div class="autocomplete-result" ng-repeat="product in products">
        <h3>{{product.name}}</h3>
    </div>
    <div style="clear: both"></div>
    <div class="product-wrapper">
        <div class="product" ng-repeat="product in products">
            <div class="product-image">
                <img ng-src="{{product.pictures[0]}}" />
            </div>
            <div class="product-name">
                <a ng-href="#/product/{{product._id}}">
                    {{product.name}}
                </a>
            </div>
            <div class="product-cost">
                {{product.displayPrice}}
            </div>
            <add-to-cart></add-to-cart>
        </div>
    </div>
    <div style="clear: both"></div>
</div>
